/************** Reset ********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0px;
}

main {
  margin-right: 50px;
  margin-left: 50px;
}

h1 {
  text-align: center;
}

label {
  appearance: none; /* Fjerner standard browser-styling */
  background-color: transparent;
  font-family: "Kurale", serif;
  font-size: 22px;
  margin: 20px 20px 0 0;
}

select:hover {
  background-color: #6c8064;
  color: white;
}

select {
  background-color: #5a6b54;
  color: white;
  padding: 10px 20px; /* Indvendig padding */
  font-size: 20px; /* Skaleret skrift */
  font-family: "Kurale", serif;
  cursor: pointer; /* Markør for interaktivitet */
  outline: none; /* Fjerner blå kant ved klik */
  width: auto; /* Tilpas bredde */
  transition: all 0.3s ease; /* Blød overgang */
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  border: 2px solid #475b3f;
}

.recipe_card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.list_icon {
  width: 8%;
  margin: 0 0 0 60px;
}

@media (min-width: 900px) {
  .list_icon {
    width: 8%;
    margin-left: 60px;
  }
}

/* Når skærmbredden er under 768px (typisk mobil) */
@media (max-width: 768px) {
  .grid_1-1-1 {
    grid-template-columns: 1fr;
  }
}
/* @media (min-width: 900px) {
  .grid_1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .recipe_card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
} */
